;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar 24 16:11:34 2014
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist '((48 . ";(require 'color-theme)\n")))
(setq file-name-history '("c:/Users/Wendy17/.emacs" "c:/Users/Wendy17/.emacs-places" "c:/Users/Wendy17/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "c:/Users/Wendy17/.emacs-places"
  ".emacs-places"
  'fundamental-mode
  '(ergoemacs-mode undo-tree-mode linum-mode)
  27
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-dos)))

